.DS_Store
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.gz
**/*.gz
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.toc
**/*.fig
**/*.blg
**/*.bcf
**/*.run
**/*.bbl
**/*-blx.bib
**/*.run.xml
images/*.pdf
images/*.pdf_tex
svg-inkscape
.vscode/ipch
**/node_modules
*.tsv
